:root {
    --primera-cor: #3E78B2;
    --segunda-cor: #004BA8;

    --borda: #4A525A;

    --fundo: #24272B;
    --text: #07070A;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--fundo);
    color: var(--text);
    font-size: 30px;
}

h1 {
    color: var(--primera-cor);
}

.conteudo {
    display: flex;

    height: 200px;
}

.conteudo > .esquerda > img {
    width: 70px;
    height: 70px;
}