:root {
    --primera-cor: #DE6B48;
    --segunda-cor: #E5B181;

    --borda: #F4B9B2;

    --fundo: #DAEDBD;
    --text: #7DBBC3;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--fundo);
    color: var(--text);
    font-size: 30px;
}

h1 {
    color: var(--primera-cor);
}

.conteudo {
    display: flex;

    height: 200px;
}

.conteudo > .esquerda > img {
    width: 70px;
    height: 70px;
}